<p>
  <strong>Content:</strong>
  <%= @card.content %>
</p>

<p>
  <strong>Num answer:</strong>
  <%= @card.num_answer %>
</p>

<%= link_to 'Edit', edit_card_path(@card), :class => "btn btn-primary" %>
<%= link_to 'Back', cards_path, :class => "btn btn-default" %>
